force-app/main/default/flows/Archive_Slack_Channel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Archive the channel</description>
        <name>ArchiveChannelAction</name>
        <label>Archive Channel Action</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>slackArchiveChannel</actionName>
        <actionType>slackArchiveChannel</actionType>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T08LMTRBD2B</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackChannelId</name>
            <value>
                <elementReference>channelID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackArchiveChannel</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>CheckChannelExist</name>
        <label>CheckChannelExist</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <actionName>checkChannelExist</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentName</name>
            <value>
                <elementReference>agentName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelId</name>
            <value>
                <elementReference>channelID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>checkChannelExist</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Send_Debug_Message</name>
        <label>Copy 1 of Send Debug Message</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T08LMTRBD2B</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C08MEA2DEJK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>message</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Send_Debug_Message</name>
        <label>Copy 2 of Send Debug Message</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T08LMTRBD2B</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C08MEA2DEJK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>message</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_Send_Debug_Message</name>
        <label>Copy 3 of Send Debug Message</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T08LMTRBD2B</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C08MEA2DEJK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>message</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Join the channel to be able to archive it</description>
        <name>JoinChannel</name>
        <label>Join Channel Action</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>slackJoinChannel</actionName>
        <actionType>slackJoinChannel</actionType>
        <connector>
            <targetReference>ArchiveChannelAction</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JoinFailure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T08LMTRBD2B</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <elementReference>channelID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackJoinChannel</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Debug_Message</name>
        <label>Send Debug Message</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T08LMTRBD2B</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C08MEA2DEJK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>message</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_2_of_JoinFailure</name>
        <label>Copy 2 of JoinFailure</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Archive Slack Channel :  Channel {!channelID} can&apos;t be found</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Send_Debug_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>The slack channel is not archived.</description>
        <name>Failure</name>
        <label>Failure</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Archive Slack Channel :  Can&apos;t archive {!channelID}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Send_Debug_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>JoinFailure</name>
        <label>JoinFailure</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Archive Slack Channel :  Can&apos;t join channel {!channelID}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Send_Debug_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>The channel is archived</description>
        <name>Success</name>
        <label>Success</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Archive Slack Channel : Channel {!channelID} is archived.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Debug_Message</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_JoinFailure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>channelNotFound</defaultConnectorLabel>
        <rules>
            <name>channelExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckChannelExist.channelExists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JoinChannel</targetReference>
            </connector>
            <label>channelExist</label>
        </rules>
    </decisions>
    <description>Flow to archive a slack channel. Takes the channelID as input.</description>
    <environments>Default</environments>
    <interviewLabel>Archive Slack Channel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Archive Slack Channel</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckChannelExist</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>The name of the Agentforce Agent</description>
        <name>agentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The ID of the channel to archive</description>
        <name>channelID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Message output of the flow</description>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
