force-app/main/default/flows/ChallengeClosing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Check the end date to check if the enddate has passed</description>
        <name>IsChallengeFinished</name>
        <label>IsChallengeFinished?</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>End Date ahead</defaultConnectorLabel>
        <rules>
            <name>EndDatePassed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetStatusToFinished</targetReference>
            </connector>
            <label>End Date Passed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ChallengeClosing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ChallengeClosing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update the status and close the challenge</description>
        <name>SetStatusToFinished</name>
        <label>Set Status To Finished</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Finished</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsChallengeFinished</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OnGoing</stringValue>
            </value>
        </filters>
        <object>Challenge__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-04-10</startDate>
            <startTime>23:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
