force-app/main/default/flows/ChallengeAfterUpdateSlackChanCreation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateSlackMessageforChallenge</name>
        <label>Create Slack Message for Challenge</label>
        <locationX>352</locationX>
        <locationY>1308</locationY>
        <actionName>Kick_Start_Challenge</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Send_Message_to_channel</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Challenge</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Kick_Start_Challenge</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error_Message_to_Admin</name>
        <label>Error Message to Admin</label>
        <locationX>704</locationX>
        <locationY>900</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>005F9000009uUMr</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>user</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Get Salesforce id from Participants fields</description>
        <name>GetChallengeParticipants</name>
        <label>Get Challenge Participants</label>
        <locationX>352</locationX>
        <locationY>684</locationY>
        <actionName>GetUsersFromTextList</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Manager_User_To_Channel</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorMesssageGetParticipants</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputText</name>
            <value>
                <elementReference>Structure_Participants_List.promptResponse</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetUsersFromTextList</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>message</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ParticipantsID</assignToReference>
            <name>userIds</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Structure_Participants_List</name>
        <label>Structure Participants List</label>
        <locationX>352</locationX>
        <locationY>576</locationY>
        <actionName>StructureParticipantsList</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>GetChallengeParticipants</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Participants</name>
            <value>
                <elementReference>$Record.Participants__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>StructureParticipantsList</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Manager_User_To_Channel</name>
        <label>Add Manager User To Participants to add in channel</label>
        <locationX>352</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>UserIdCollectionToAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Participants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Participants_to_Chan_list</name>
        <label>Add Participants to Chan list</label>
        <locationX>440</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>UserIdCollectionToAdd</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Loop_on_Participants</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Participants</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserIdCollectionToAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Participants</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Participants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorMesssageGetParticipants</name>
        <label>Error Messsage Get Participants</label>
        <locationX>704</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Error when Getting participants</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message_to_Admin</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsThereASlackChannel</name>
        <label>Is There A Slack Channel?</label>
        <locationX>352</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Create_challenge_Channel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SlackChannel__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Structure_Participants_List</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Slack chan creation and message writing when the challenge is validated</description>
    <environments>Default</environments>
    <formulas>
        <description>Name of the Challenge channel</description>
        <name>ChallengeChannelName</name>
        <dataType>String</dataType>
        <expression>LOWER(SUBSTITUTE(
    SUBSTITUTE(
        SUBSTITUTE(
            SUBSTITUTE(
                SUBSTITUTE({!$Record.Name}, &quot; / &quot;, &quot; &quot;),&quot; &quot;, &quot;-&quot;), &quot; #&quot; , &quot;&quot;), &quot;: &quot; , &quot; &quot;), &quot;.&quot; , &quot;&quot;)&amp;&quot;-&quot;&amp;TEXT(YEAR({!$Record.StartDate__c})))</expression>
    </formulas>
    <formulas>
        <description>Id of the Slack Channel</description>
        <name>ConversationID</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.SlackChannel__c}),{!CreatedConversationID} , {!$Record.SlackChannel__c})</expression>
    </formulas>
    <interviewLabel>ChallengeAfterUpdateSlackChanCreation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ChallengeAfterUpdateSlackChanLaunch</label>
    <loops>
        <description>Add Participants to the collection for adding users in Slack</description>
        <name>Loop_on_Participants</name>
        <label>Loop on Participants</label>
        <locationX>352</locationX>
        <locationY>900</locationY>
        <collectionReference>ParticipantsID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Participants_to_Chan_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Participants_to_channel</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateChallengeWithSlackChannel</name>
        <label>UpdateChallengeWithSlackChannel</label>
        <locationX>352</locationX>
        <locationY>1524</locationY>
        <inputAssignments>
            <field>SlackChannel__c</field>
            <value>
                <elementReference>ConversationID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ToStart</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OnGoing</stringValue>
            </value>
        </filters>
        <object>Challenge__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>SlackChannelCreation</name>
            <connector>
                <targetReference>IsThereASlackChannel</targetReference>
            </connector>
            <label>SlackChannelCreation</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_Participants_to_channel</name>
        <label>Add Participants to channel</label>
        <locationX>352</locationX>
        <locationY>1200</locationY>
        <connector>
            <targetReference>CreateSlackMessageforChallenge</targetReference>
        </connector>
        <flowName>Invite_User_In_Slack_Channel</flowName>
        <inputAssignments>
            <name>channelID</name>
            <value>
                <elementReference>ConversationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userID</name>
            <value>
                <elementReference>UserIdCollectionToAdd</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_challenge_Channel</name>
        <label>Create challenge Channel</label>
        <locationX>440</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Structure_Participants_List</targetReference>
        </connector>
        <flowName>Create_Channel</flowName>
        <inputAssignments>
            <name>channelName</name>
            <value>
                <elementReference>ChallengeChannelName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>channelType</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CreatedConversationID</assignToReference>
            <name>channelID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>message</assignToReference>
            <name>message</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Send_Message_to_channel</name>
        <label>Send Message to channel</label>
        <locationX>352</locationX>
        <locationY>1416</locationY>
        <connector>
            <targetReference>UpdateChallengeWithSlackChannel</targetReference>
        </connector>
        <flowName>SendMessagetoSlackChannelorDMs</flowName>
        <inputAssignments>
            <name>agentName</name>
            <value>
                <stringValue>AgentMotivator</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>channelID</name>
            <value>
                <elementReference>ConversationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessageToSend</name>
            <value>
                <elementReference>CreateSlackMessageforChallenge.promptResponse</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CreatedConversationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>@[005F9000009uUMrIAM] </stringValue>
        </value>
    </variables>
    <variables>
        <name>ParticipantsID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIdCollectionToAdd</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
