force-app/main/default/flows/Close_deal_slack.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Amy</name>
        <label>Call Amy</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <actionName>Amy</actionName>
        <actionType>generateAiAgentResponse</actionType>
        <connector>
            <targetReference>Send_Slack_Message_Action_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>userMessage</name>
            <value>
                <stringValue>{!PromptAgentforopportunitycelebration}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Amy</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Slack_Message_Action_1</name>
        <label>Send Slack Message Action 1</label>
        <locationX>308</locationX>
        <locationY>600</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T08LMTRBD2B</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C08MEA2DEJK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>Call_Amy.agentResponse</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description
    >Calls an invocable action to send notifications to all specified feed channels with the &quot;Deals Won&quot; broadcast topic.</description>
        <name>SendSlackNotifications_DealsWon</name>
        <label>Send Slack Notifications</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>deal_won</actionName>
        <actionType>sendNotification</actionType>
        <connector>
            <targetReference>Call_Amy</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SlackChannels_DealsWon</elementReference>
            </value>
        </inputParameters>
        <nameSegment>deal_won</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <description>Stores the type of Slack notifications to send.</description>
        <name>NotificationPurpose_DealsWon</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Deals Won</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>Close deal slack {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close deal slack + AI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <sourceTemplate>sales_channel__DealWon</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>GetNotificationRecipients_DealsWon</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <description
    >Gets the Slack channels associated with the broadcast topic specified in NotificationPurpose.</description>
        <name>GetNotificationRecipients_DealsWon</name>
        <label>Get Notification Recipients</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>SendSlackNotifications_DealsWon</targetReference>
        </connector>
        <flowName>sales_channel__NotificationsSubflow</flowName>
        <inputAssignments>
            <name>Purpose</name>
            <value>
                <elementReference>NotificationPurpose_DealsWon</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SlackChannels_DealsWon</assignToReference>
            <name>SlackChannelIds</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>PromptAgentforopportunitycelebration</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The opportunity {!$Record.Name} has just been won. Check if it qualifies for public celebration</text>
    </textTemplates>
    <variables>
        <name>SlackChannels_DealsWon</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
