force-app/main/default/flows/Create_or_Update_Challenge_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>FillChallengeOutput</name>
        <label>Fill Challenge Output</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ChallengeOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Created_or_Updated</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Flow to create or update a challenge record and sent back the record.
When updating the challenge always send the non modified fields to make sure they remains</description>
    <environments>Default</environments>
    <interviewLabel>Create or Update Challenge 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create or Update Challenge</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateUpdateChallenge</name>
        <label>Create Update Challenge</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Get_Record_Created_or_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChallengeID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>ChallengeDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate__c</field>
            <value>
                <elementReference>ChallengeEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager__c</field>
            <value>
                <elementReference>ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ChallengeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Participants__c</field>
            <value>
                <elementReference>Participants</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <elementReference>ChallengeResults</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SlackChannel__c</field>
            <value>
                <elementReference>ChallengeSlackChannel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate__c</field>
            <value>
                <elementReference>ChallengeStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>ChallengeStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>ChallengeType</elementReference>
            </value>
        </inputAssignments>
        <object>Challenge__c</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_Created_or_Updated</name>
        <label>Get Record Created or Updated</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FillChallengeOutput</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateUpdateChallenge</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Challenge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreateUpdateChallenge</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Long text field describing the challenge</description>
        <name>ChallengeDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Date field defining the end of the challenge</description>
        <name>ChallengeEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID of the Challenge only in case of Update</description>
        <name>ChallengeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Text field defining the Name of the Challenge</description>
        <name>ChallengeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Challenge record variable with the values of the record created or updated</description>
        <name>ChallengeOutput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Challenge__c</objectType>
    </variables>
    <variables>
        <description>Text field describing the results of the challenge once it is closed</description>
        <name>ChallengeResults</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Text field defining Id of the Slack Channel created for the challenge</description>
        <name>ChallengeSlackChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Date field defining the start of the challenge</description>
        <name>ChallengeStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Picklist field with the value:
 &quot;Draft&quot;, &quot;ToStart&quot;,  &quot;OnGoing&quot;, &quot;Finished&quot;, &quot;Cancelled&quot;,</description>
        <name>ChallengeStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Picklist field with the value:
&quot;Team&quot;, &quot;Personal&quot;</description>
        <name>ChallengeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Lookup field to User defining the manager responsible of the challenge</description>
        <name>ManagerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Text field, defining the challenge&apos;s participants. It can be user Full Name or Role</description>
        <name>Participants</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
