force-app/main/default/flows/Create_Channel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_after_creation</name>
        <label>Check after creation</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <actionName>checkChannelExist</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentName</name>
            <value>
                <stringValue>AgentMotivator</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelName</name>
            <value>
                <elementReference>channelName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>checkChannelExist</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Check_Channel_Exist</name>
        <label>Check Channel Exist</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <actionName>checkChannelExist</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CheckIfChannelExitAlready</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentName</name>
            <value>
                <stringValue>AgentMotivator</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelName</name>
            <value>
                <elementReference>CleanChannelName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>checkChannelExist</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Slack_Channel_Action_1</name>
        <label>Create Slack Channel Action 1</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <actionName>slackCreateChannel</actionName>
        <actionType>slackCreateChannel</actionType>
        <connector>
            <targetReference>Check_after_creation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T08LMTRBD2B</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackChannelName</name>
            <value>
                <elementReference>CleanChannelName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isChannelPrivate</name>
            <value>
                <elementReference>channelType</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackCreateChannel</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>channelID</assignToReference>
            <name>slackChannelId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Slack_Message_Action_1</name>
        <label>Send Slack Message Action 1</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T08LMTRBD2B</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C08MEA2DEJK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>message</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendSlackMessageFailure</name>
        <label>Send Slack Message Failure</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T08LMTRBD2B</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C08MEA2DEJK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>message</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendSlackMessageSuccess</name>
        <label>Send Slack Message Success</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T08LMTRBD2B</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C08MEA2DEJK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>message</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Channel_Exist_Assigments</name>
        <label>Channel_Exist_Assigments</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue
        >Slack channel {!CleanChannelName} exist with id: + {!Check_Channel_Exist.returned_channelId}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>channelID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_Channel_Exist.returned_channelId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Slack_Message_Action_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Failure</name>
        <label>Failure</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to create slack channel {!CleanChannelName}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendSlackMessageFailure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Success</name>
        <label>Success</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue
        >Slack channel {!CleanChannelName} was created with ID {!Check_after_creation.returned_channelId}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendSlackMessageSuccess</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckIfChannelExitAlready</name>
        <label>CheckIfChannelExitAlready</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Create_Slack_Channel_Action_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>channelDoesNotExist</defaultConnectorLabel>
        <rules>
            <name>channelExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Channel_Exist.channelExists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Channel_Exist_Assigments</targetReference>
            </connector>
            <label>channelExist</label>
        </rules>
    </decisions>
    <description>A flow meant to be used by AgentForce to create Slack channel</description>
    <environments>Default</environments>
    <formulas>
        <description>Normalization of the Slack Channel Name to prevent any error in channel creation</description>
        <name>CleanChannelName</name>
        <dataType>String</dataType>
        <expression>LOWER(
  SUBSTITUTE(
    SUBSTITUTE(
      SUBSTITUTE(
        SUBSTITUTE(
          SUBSTITUTE(
            SUBSTITUTE({!channelName}, &quot; / &quot;, &quot; &quot;),
            &quot; &quot;, &quot;-&quot;),
          &quot; #&quot;, &quot;&quot;),
        &quot;: &quot;, &quot; &quot;),
      &quot;.&quot;, &quot;&quot;),
    &quot;&apos;&quot;, &quot;&quot;))</expression>
    </formulas>
    <interviewLabel>Create Channel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Slack Channel</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Channel_Exist</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The ID of the channel that has been created by the flow</description>
        <name>channelID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The name of the channel to create</description>
        <name>channelName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>channelType</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
