force-app/main/default/flows/Invite_User_In_Slack_Channel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CheckChannelExist</name>
        <label>CheckChannelExist</label>
        <locationX>908</locationX>
        <locationY>242</locationY>
        <actionName>checkChannelExist</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ifChannelExist</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentName</name>
            <value>
                <stringValue>AgentMotivator</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelId</name>
            <value>
                <elementReference>channelID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelName</name>
        </inputParameters>
        <nameSegment>checkChannelExist</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Clean_Collection</name>
        <label>Clean Collection</label>
        <locationX>908</locationX>
        <locationY>134</locationY>
        <actionName>clean_collections</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CheckChannelExist</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>stringCollection</name>
            <value>
                <elementReference>userID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>clean_collections</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>UserToInvite</assignToReference>
            <name>cleanedCollection</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CleanCollectionMessage</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Send_Slack_Message_Action_1</name>
        <label>Send Slack Message no user</label>
        <locationX>842</locationX>
        <locationY>1298</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T08LMTRBD2B</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C08MEA2DEJK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>message</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Users_Info_for_Slack</name>
        <label>Get Users Info for Slack</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <actionName>GetUsersInfoSlack</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RemoveExistingMember</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Add_Output_to_Message_Get_user_info</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>userSlackIds</name>
            <value>
                <elementReference>GetMemberOfSlackChannel.slackUserIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetUsersInfoSlack</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>GetMemberOfSlackChannel</name>
        <label>GetMemberOfSlackChannel</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <actionName>GetMembersOfSlackChannel</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Remove_Salesforce_for_slack</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentName</name>
            <value>
                <stringValue>agentMotivator</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelId</name>
            <value>
                <elementReference>channelID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetMembersOfSlackChannel</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Action that invite user to a channek</description>
        <name>InviteUserAction</name>
        <label>InviteUserAction</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <actionName>slackInviteUsersToChannel</actionName>
        <actionType>slackInviteUsersToChannel</actionType>
        <connector>
            <targetReference>Add_Output_to_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Add_Output_to_Message_Fault_Invite</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T08LMTRBD2B</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackChannelId</name>
            <value>
                <elementReference>channelID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForChannel</name>
            <value>
                <stringValue>T08LMTRBD2B</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userIdsToInvite</name>
            <value>
                <elementReference>UserToInvite</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackInviteUsersToChannel</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>JoinChannel</name>
        <label>JoinChannel</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <actionName>slackJoinChannel</actionName>
        <actionType>slackJoinChannel</actionType>
        <connector>
            <targetReference>InviteUserAction</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Add_Output_to_Message_Fault_Join</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T08LMTRBD2B</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <elementReference>channelID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackJoinChannel</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Slack_Message_Action_1</name>
        <label>Send Slack Message Action 1</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T08LMTRBD2B</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C08MEA2DEJK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>message</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Slack_Message_Action_Fault_Join</name>
        <label>Send Slack Message Action Fault Join</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T08LMTRBD2B</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C08MEA2DEJK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>message</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Slack_Message_get_user_info</name>
        <label>Send Slack Message get user info</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T08LMTRBD2B</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C08MEA2DEJK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>message</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendSlackMessageActionFaultInvite</name>
        <label>Send Slack Message Action Fault Invite</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T08LMTRBD2B</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C08MEA2DEJK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendSlackMessageActionFaultJoin</name>
        <label>Send Slack Message Action Fault Join</label>
        <locationX>578</locationX>
        <locationY>1406</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T08LMTRBD2B</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C08MEA2DEJK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Output_to_Message</name>
        <label>Add Output to Message</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invite User In Slack Channel : {!CleanCollectionMessage} Invited  in Slack channel: {!channelID}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Slack_Message_Action_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Output_to_Message_all_user_already_in_chan</name>
        <label>Add Output to Message: all user already in chan</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invite User In Slack Channel : All user {!CleanCollectionMessage} already in channel {!channelID}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Send_Slack_Message_Action_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Output_to_Message_Fault_Invite</name>
        <label>Add Output to Message Fault Invite</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invite User In Slack Channel : Failed to Invite {!CleanCollectionMessage} in Slack channel  {!channelID}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendSlackMessageActionFaultInvite</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Output_to_Message_Fault_Join</name>
        <label>Add Output to Message Fault Join</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invite User In Slack Channel : Can&apos;t join {!channelID}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendSlackMessageActionFaultJoin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Output_to_Message_Get_user_info</name>
        <label>Add Output to Message: Get user info</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get user slack info: Error to get the info {!Get_Users_Info_for_Slack.message} - {!channelID}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Slack_Message_get_user_info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddOutputChannelnotFound</name>
        <label>Add Output Channel not Found</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invite User In Slack Channel : Channel doesn&apos;t exist</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Slack_Message_Action_Fault_Join</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Salesforce for slack breaks the next method</description>
        <name>Remove_Salesforce_for_slack</name>
        <label>Remove Salesforce for slack</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>GetMemberOfSlackChannel.slackUserIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <stringValue>U08M9MGDAR5</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Users_Info_for_Slack</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RemoveExistingChannelMemberFromUsersToInvite</name>
        <label>RemoveExistingChannelMemberFromUsersToInvite</label>
        <locationX>534</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>UserToInvite</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>CurrentItemFromLoopChannelMemberSalesforceID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RemoveExistingMember</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ifChannelExist</name>
        <label>ifChannelExist</label>
        <locationX>908</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>AddOutputChannelnotFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>channelNotFound</defaultConnectorLabel>
        <rules>
            <name>channelExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckChannelExist.channelExists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMemberOfSlackChannel</targetReference>
            </connector>
            <label>channelExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsThereUserToAdd</name>
        <label>IsThereUserToAdd ?</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Add_Output_to_Message_all_user_already_in_chan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No User</defaultConnectorLabel>
        <rules>
            <name>UserToAdd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserToInvite</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JoinChannel</targetReference>
            </connector>
            <label>UserToAdd</label>
        </rules>
    </decisions>
    <description>Flow to invite use to a slack channel</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentItemFromLoopChannelMemberSalesforceID</name>
        <dataType>String</dataType>
        <expression>MID( {!RemoveExistingMember}, FIND(&quot;Salesforce ID=&quot;,{!RemoveExistingMember}) + LEN(&quot;Salesforce ID=&quot;), 18)</expression>
    </formulas>
    <interviewLabel>Invite User In Slack Channel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invite User In Slack Channel</label>
    <loops>
        <name>RemoveExistingMember</name>
        <label>RemoveExistingMember</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Users_Info_for_Slack.userInfoListString</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RemoveExistingChannelMemberFromUsersToInvite</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IsThereUserToAdd</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Clean_Collection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>ID of the channel to invite user to</description>
        <name>channelID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CleanCollectionMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Output message</description>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Salesforce ID collection of users to invite in the channel</description>
        <name>userID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserToInvite</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
