force-app/main/default/flows/SendMessagetoSlackChannelorDMs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CheckChannelExist</name>
        <label>CheckChannelExist</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <actionName>checkChannelExist</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ifChannelExist</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentName</name>
            <value>
                <elementReference>agentName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelId</name>
            <value>
                <elementReference>channelID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelName</name>
        </inputParameters>
        <nameSegment>checkChannelExist</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Send_Slack_Message_Action_Fault_Join</name>
        <label>Copy 1 of Send Slack Message Action Fault Join</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T08LMTRBD2B</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C08MEA2DEJK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>message</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>JoinChannel</name>
        <label>JoinChannel</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>slackJoinChannel</actionName>
        <actionType>slackJoinChannel</actionType>
        <connector>
            <targetReference>SendMessagetoSlackChannelorDMs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Add_Output_to_Message_Fault_Join</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T08LMTRBD2B</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <elementReference>channelID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackJoinChannel</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Slack_Message_Action_1</name>
        <label>Send Slack Message Action 1</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T08LMTRBD2B</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C08MEA2DEJK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>message</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_slack_message_fault_send_message</name>
        <label>Send slack message fault send message</label>
        <locationX>1018</locationX>
        <locationY>1298</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T08LMTRBD2B</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C08MEA2DEJK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>message</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendMessagetoSlackChannelorDMs</name>
        <label>Send Message to Slack Channel or DMs</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <actionName>SendSlackToChannel</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Output_to_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Add_Output_to_Message_fault_send</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentName</name>
            <value>
                <elementReference>agentName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelId</name>
            <value>
                <elementReference>channelID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageText</name>
            <value>
                <elementReference>MessageToSend</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendSlackToChannel</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendSlackMessageActionFaultJoin</name>
        <label>Send Slack Message Action Fault Join</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T08LMTRBD2B</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C08MEA2DEJK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Output_to_Message</name>
        <label>Add Output to Message</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send message to user or channel {!channelID} success</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Slack_Message_Action_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Output_to_Message_Fault_Join</name>
        <label>Add Output to Message Fault Join</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invite User In Slack Channel : Can&apos;t join {!channelID}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendSlackMessageActionFaultJoin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Output_to_Message_fault_send</name>
        <label>Add Output to Message fault send</label>
        <locationX>1018</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send message to user or channel: failed {!channelID}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_slack_message_fault_send_message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddOutputChannelnotFound</name>
        <label>Add Output Channel not Found</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invite User In Slack Channel : Channel doesn&apos;t exist</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Send_Slack_Message_Action_Fault_Join</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ChannelORDirectMessage</name>
        <label>Channel OR Direct Message</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>SendMessagetoSlackChannelorDMs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Direct Message</defaultConnectorLabel>
        <rules>
            <name>Channel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>channelID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckChannelExist</targetReference>
            </connector>
            <label>Channel</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifChannelExist</name>
        <label>ifChannelExist</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>AddOutputChannelnotFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>channelNotFound</defaultConnectorLabel>
        <rules>
            <name>channelExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckChannelExist.channelExists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JoinChannel</targetReference>
            </connector>
            <label>channelExist</label>
        </rules>
    </decisions>
    <description>Send Message to Slack Channel or DMs</description>
    <environments>Default</environments>
    <interviewLabel>Send Message to Slack Channel or DMs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Message to Slack Channel or DMs</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ChannelORDirectMessage</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Name of the Agent that sends the message</description>
        <name>agentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AgentMotivator</stringValue>
        </value>
    </variables>
    <variables>
        <description>ID of the channel to invite user to</description>
        <name>channelID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Output message</description>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MessageToSend</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
